.card {
    margin-bottom: 20px;
    border: 1px solid #515152;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
    padding: 5px;
}

.card h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #575757;
}